.App {
  text-align: center;
  background-color: #596E79;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: 596E79;
  font-family: 'Jost', sans-serif;
}

.homepage-title {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  justify-items: center;
}

#homepage-title {
  text-align: left;
  width: 550px;
  margin: 100px;
  padding: 20px;
  margin-bottom: 0;
  font-size: 110px;
  color: white;
  line-height: 100px;
  text-shadow: 8px 8px #DDBEA9;
}


#homepage-subtitle {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  width: 200px;
  text-align: left;
  margin-bottom: 0;
  font-size: 35px;
  color: #FFE8D6;
}


.page-break{
  height: 1px;
  width: 50%;
  margin-top: -40px;
  border: solid 1px whitesmoke;
}

.intro {
  height: 45px;
  margin-bottom: 45px;
  display: block;
  color: #DDBEA9;
  font-family: 'JOST';
}

.header-carousel-container {
  margin: 0px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {

  #header {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .homepage-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }

  #homepage-title {
    display: flex;
    align-items: flex-end;
    width: 200px;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    color: #C7B198;
    line-height: 60px;
    text-shadow: 1px 1px #DFD3C3;
  }

  #homepage-subtitle {
    display: flex;
    align-items: center;
    align-content: center;
    width: 200px;
    text-align: center;
    margin-bottom: 0;
    font-size: 25px;
    color: #C7B198;
  }

  .header-carousel-container {
    display: none;
  }

  .page-break{
    width: 60%;
    margin-top: 40px;
  }
}

.explore-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F0EFEB;
}



.explore-button {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  width: 200px;
  height: 75px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #DDBEA9;
  border: none;
  outline: none;

}

.explore-button:hover {
  cursor: pointer;
  background-color: #DDBEA9;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0px;
  height: 50px;
  font-family: 'Jost', sans-serif;
  background-color: 596E79;
  z-index: 5;
}

.nav {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #DFD3C3;
  text-decoration: none;
}

.nav:hover{
  cursor: pointer;
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    font-family: 'Jost', sans-serif;
    background-color: #DDBEA9;
    z-index: 5;
  }

  .nav {
    margin-right: 0px;
    font-size: 15px;
  }

  .navend {
    padding-left: 10px;
    padding-right: 10px;
  }

}



.footer {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  width: 100%;
  background-color: #DDBEA9;
  bottom: 0;
  height: 50px;
}

.footer-icon-container {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #CB997E;
  margin-left: 18px;

}

.footer-icon {
  width: 30px;
  margin-left: 10px;
}

/* MOBILE BREAKPOINT */

@media only screen and (max-width: 600px) {

  .footer {
    display: flex;
    justify-content: center;
  }

}

.portfolio {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #596E79;
  font-family: 'Jost', sans-serif;
  padding-top: 100px;
}

.portfolio-text-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio-subtitle {
  color: white;
  font-size: 100px;
  line-height: 100px;
  text-shadow: 2px 2px #DDBEA9;
  margin-bottom: 0px;
}


.portfolio-text {
  color: #FFE8D6;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 90%;
  margin: 25px;
  margin-top: 50px;
}

.portfolio-display {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.thumbnail-images {
  z-index: 90;
  opacity: 80%;
  width: 500px;
  height: 350px;
  opacity: .8;
  background-size: contain;
  border: 1px solid white;
  margin: 20px 40px 20px 40px;
}

.thumbnail-text-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-content: center;
  height: 325px;
}

.thumbnail-text {
  z-index: 100;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  text-shadow: 2px 2px #DDBEA9;
}

.portfolio-link {
  text-decoration: none;
  color: white;
}

/* MOBILE BREAKPOINT */

@media only screen and (max-width: 600px) {

  .portfolio {
    padding-top: 50px;
  }

  .portfolio-text-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .thumbnail-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: #DDBEA9;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .portfolio-subtitle {
    font-size: 50px;
  }

  .thumbnail-images {
    width: 300px;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .thumbnail-text-container {
    height: 300px;
  }

  .thumbnail-text {
    z-index: 100;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    text-shadow: 2px 2px #DDBEA9;
  }

  .portfolio-link {
    width: 300px;
    text-decoration: none;
    color: white;
  }
}

.about-me {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #596E79;
  font-family: 'Jost', sans-serif;
  padding-top: 10px;
}

.about-me-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.about-column {
  width: 50%
}

.about-column-a {
  text-align: center;
}

#aboutme-text {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Jost';
  background-color: #596E79;
  opacity: 80%;
  padding: 40px;
  border: 3px solid white;
  box-shadow: 8px 8px #DDBEA9;
}

.profile-pic {
  width: 70%;
  background-position: center;
  border-radius: 50%;
}

/* MOBILE BREAKPOINT */

@media only screen and (max-width: 600px) {

  .about-me {
    padding-top: 50px;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .about-column {
    width: 100%
  }

  .resume-button {
    margin-bottom: 20px;
  }
}

.proj-name {
  font-family: 'Jost';
  font-size: 75px;
  text-shadow: 3px 3px #DDBEA9;
  color: White;

}

.resume-container{
  margin: 30px;
  background-color: #596E79;
}
.resume-button-container{
  color: #596E79;
  text-shadow: 1px 1px #596E79;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #DDBEA9;
  margin: 20px;
}

.resume-button-container:hover {
  cursor: pointer;
  background-color: white;
}


.text {
  margin-top: 0px;
  color: white;
  font-size: 20px;
}

.details-button-containers {
  display: flex;
  justify-content: center;
  width: 45%;
  background-color: #FFE8D6;
  padding: 10px 0px 10px 0px;
  border: 1px solid;
  border-radius: 40px;
  color:#CB997E;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px white;
}



.details-button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 40px;
 }


 .details-button-containers:hover {
   font-size: large;
 }

 .project-name {
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px #DDBEA9;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: center;
  }

  .project-details-container {
    height: 100%;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 10px;
  }
